<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hlsk.connection">

    <application>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/public_name_connection"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AlumnusActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AlumnusListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.EnterpriseActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
