<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hlsk.discover">

    <application>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/public_name_discovery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.TestListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".test.TestMultiActivity" />
        <activity
            android:name=".activity.DiscoverDetailActivity"
            android:label="@string/discover_detail_title" />
        <activity android:name=".activity.DiscoverPublishActivity"></activity>
    </application>

</manifest>